.indexContainer__container {
    min-height: calc(100vh - 210px);
    display: flex;
    flex-direction: column;
}

.indexContainer__container h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}