.btn.popup_btn {
    background: transparent;
    font-size: 16px;
    color: var(--bgOrange);
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn.popup_btn:hover {
    color: var(--bgOrange);
    text-decoration: underline;
}