.reviewCardContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3.75rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  margin-bottom: 1.625rem;
}

.carouselReview {
  width: 100%;
  display: none; /* Ocultar el carrusel por defecto */
}

.reviewCardsNormal {
  display: flex;
  flex-wrap: wrap; /* Para que las tarjetas se envuelvan en pantallas grandes */
  justify-content: center;
}

@media (max-width: 767px) {
  .carouselReview {
    display: block; /* Mostrar el carrusel en pantallas pequeñas */
  }

  .reviewCardsNormal {
    display: none; /* Ocultar las tarjetas en pantallas pequeñas */
  }
}


button {
  font-size: 20px;
  color: #FFA62B;
  border: none;
  background-color: var(--bgWhite);
}

