.navbar_icon {
    color: var(--bgOrange);
    border: none;
}

.navbar_iconRS {
    color: var(--bgBlue);
}

.navbar_img {
    height: auto;
    width: auto;
    border: none;
    margin-left: 16px;
    margin-right: 16px;
}

.navbar__container {
    background-color: #00000070;
    transition: background-color 0.3s ease;
}

.navbar-social {
    display: flex;
    justify-content: flex-start;
    padding-right: 16px;
    gap: 16px;
    margin-left: 16px;
}

a.nav-link {
    padding: 10px;
    border: none;
    border-style: none;
    height: min-content;
    color: var(--bgWhite);
    font-size: 16px;
    text-align: center;
    width: fit-content;
    text-decoration: none;
    transition: color 0.5s ease, text-decoration 0.5s ease;
}

a.nav-link:hover {
    color: var(--bgOrange);
}

a.nav-link.nav_active {
    color: var(--bgOrange);
    padding: 10px;
    border: none;
    border-style: none;
    height: min-content;
    font-size: 16px;
    text-align: center;
    width: fit-content;
    text-decoration: none;
}

button.navbar-toggler {
    background-color: rgb(194, 194, 194);
    background-color: var(--bgOrange);
    margin-right: 16px;
}

.collapse.navbar-collapse ul {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.nav-link.dropdown-toggle {
    color: black;
    transition: color 0.5s ease;
    background-color: transparent;
}

a.nav-link.dropdown-toggle:hover {
    color: var(--bgOrange);
}

a.dropdown-item {
    color: black;
    transition: color 0.5s ease;
    background-color: transparent;
}

a.dropdown-item:hover {
    color: var(--bgOrange);
    background-color: transparent;
}

a.dropdown-item.nav_active {
    color: var(--bgOrange);
    background-color: transparent;
}