.card-custom {
    max-width: 16rem;
    margin: 0 auto;
    border: none;
    background-color: var(--background);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    text-align: center;
    justify-content: center;
    transition: transform var(--trTime) ease;
}

.card-custom:hover {
    transform: scale(1.3);
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-item-container{
    margin-bottom: 50px;
}