@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    /*--bgOrange: #FF9C08;*/
    --bgOrange: #FFA62B;
    --bgBlue: #499FB6;
    --trTime: 0.5s;

}


.main-whatsapp {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 999;
}

.main-whatsapp a img {
    width: 70px;
}

.main-whatsapp a img:hover {
    transform: scale(1.1);
}

li {
    list-style: none;
}

.routerLink {
    text-decoration: none;
    color: black;
}